extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.container
		.maintenance-block
			img(src="img/maintenance.png" alt="maintenance")
			p The service is under maintenance.
			p Please come back in a couple of hours.