footer.footer
	.footer__wrapper.container.container--big
		.footer__flex
			.footer__item
				span TOR Only
				.img-base.img-base--t1
			.footer__item
				span No JS
				.img-base.img-base--t2
			.footer__item
				span No Logs
				.img-base.img-base--t3
			.footer__item
				span Anti-AML
				.img-base.img-base--t4
			.footer__item
				span Don't KYC
				.img-base.img-base--t5
