footer.footer
	.footer__wrapper.container.container--big
		.footer__flex
			.footer__item
				span TOR Only
				img(src="img/f-1.png" alt="")
			.footer__item
				span No JS
				img(src="img/f-2.png" alt="")
			.footer__item
				span No Logs
				img(src="img/f-3.png" alt="")
			.footer__item
				span Anti-AML
				img(src="img/f-4.png" alt="")
			.footer__item
				span Dont’t KYC
				img(src="img/f-5.png" alt="")
