header.header
    .header__wrapper.container.container--big
        .header__left
            a.header__logo(href="")
                .header__logo-img.img-base.img-base--logo
                .header__logo-text DonGoya’s
            .header__info Exchange & Mixer
        .header__right
            form.header__search.search.header__search--error(method="post" action="")
                .search__input.input-block.input-block--mini.input-block--error
                    input(type="text" placeholder="Secret Transaction Code" name="code" value="SxT1567OlV")
                    .input-block__error Your Secret Transaction Code is invalid
                button.search__btn.btn.btn--mini(type="submit")
                    span Check
                    .btn__icon.img-base.img-base--i_check
