header.header
	.header__wrapper.container.container--big
		.header__left
			a.header__logo(href="")
				img.header__logo-img(src="img/logo.png" alt="")
				.header__logo-text DonGoya’s
			.header__info Exchange & Mixer
		.header__right
			form.header__search.search(method="post" action="")
				.search__input.input-block.input-block--mini
					input(type="text" placeholder="Secret Transaction Code" name="code")
				button.search__btn.btn.btn--mini(type="submit")
					span Check
					img.btn__icon(src="img/i-check.png")
