.tabs{
  display: flex;
  background: #4F56FE;
  border-radius: 10px 10px 0 0;
  width: max-content;
  max-width: 100%;
  @include mMax{
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
  &__link{
    width: 220px;
    padding: 20px 0;
    max-width: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 10px 10px 0 0;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: inset 0px -25px 25px -25px rgba(0, 0, 0, 0.25);
    @include mMax{
      width: 50%;
      padding: 10px 0;
      height: 32px;
      font-size: 13px;
      line-height: 19px;
      border-radius: 5px 5px 0 0;
    }
    &--active{
      color: #252644;
      background: #F3F4FC;
      box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.25);
      cursor: default;
      pointer-events: none;
      &::before{
        content: "";
        width: 10px;
        height: 10px;
        background: #F3F4FC;
        position: absolute;
        bottom: 0;
        z-index: 1;
        right: -10px;
        @include mMax{
          width: 5px;
          height: 5px;
          right: -5px;
        }
      }
      &::after{
        content: "";
        width: 20px;
        height: 20px;
        background: #4F56FE;
        position: absolute;
        bottom: 0;
        z-index: 2;
        right: -20px;
        border-radius: 10px;
        box-shadow: inset 19px -19px 25px -25px rgba(0, 0, 0, 0.25);
        @include mMax{
          width: 10px;
          height: 10px;
          right: -10px;
        }
      }
      &:last-child{
        &::before{
          right: auto;
          left: -10px;
          @include mMax{
            left: -5px;
          }
        }
        &::after{
          right: auto;
          left: -20px;
          box-shadow: inset -19px -19px 25px -25px rgba(0, 0, 0, 0.25);
          @include mMax{
            left: -10px;
          }
        }
      }

    }
  }
}

.tabs-content{
  background: #F3F4FC;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 32px 40px 48px;
  border-radius: 0 10px 10px 10px;
  @include mMax{
    border-radius: 0 0 5px 5px;
    padding: 24px 16px 32px;
  }
}

.content-form{
  +.content-form{
    margin-top: 24px;
    @include tMax{
      margin-top: 32px;
    }
  }
  &__row{
    display: flex;
    width: 100%;
    align-items: flex-end;
    flex-wrap: wrap;

    +.content-form__row{
      margin-top: 16px;
    }

    &--error{
      .content-form__right{
        padding-bottom: 25px;
      }
    }
  }
  &__input-block{
    width: 100%;
  }
  &__left{
    width: calc(100% - 206px);
    box-sizing: border-box;
    @include tMax{
      width: 100%;
    }
    &--doble{
      display: flex;
      align-items: flex-end;
      .content-form__input-block{
        width: calc(50% - 20px);
        @include tMax{
          width: calc(50% - 14px);
        }
      }
    }
  }
  &__right{
    box-sizing: border-box;
    width: 166px;
    flex-shrink: 0;
    margin-left: 40px;
    @include tMax{
      width: 100%;
      margin-left: 0;
      margin-top: 24px;
      display: flex;
      justify-content: center;
      order: 10;
    }
  }

  &__sep{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background: transparent;
    border: none;
    font-size: 32px;
    flex-shrink: 0;
    @include mMax{
      height: 40px;
      width: 28px;
    }
    &--btn{
      cursor: pointer;
    }
    img{
      max-width: 90%;
      width: 15px;
    }
  }

  &__warning{
    background: #D9DAFF;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #252644;
    display: block;
    padding: 10px 48px;
    position: relative;
    margin-top: 16px;
    @include mMax{
      padding: 15px 0 15px 52px;
      text-align: left;
      font-size: 13px;
      line-height: 125%;
    }
    img{
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      max-width: 24px;
      @include mMax{
        left: 16px;
      }
    }

    &--error{
      background: #FF364E;
      color: #fff;
    }
  }
}

.notification{
  background: #F3F4FC;
  border: 1px solid #DCDDEC;
  box-sizing: border-box;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 15px 40px;
  @include mMax{
    padding: 16px 16px 24px;
  }
  +.notification{
    margin-top: 24px;
  }
  &--pad{
    padding-bottom: 24px;
  }
  &--form{
    padding-top: 28px;
    padding-bottom: 30px;
  }


  &__row{
    display: flex;
    width: 100%;
    align-items: flex-end;
    @include mMax{
      display: block;
    }
    +.notification__row{
      margin-top: 16px;
    }
    &--align-top{
      align-items: flex-start;
    }
  }
  &__input-block{
    width: 100%;
  }
  &__left{
    width: calc(100% - 206px);
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    min-height: 48px;
    padding-top: 7px;
    @include mMax{
      width: 100%;
      padding-top: 0;
      min-height: 0;
    }
    &--align-center{
      align-items: center;
      .notification__info{
        margin-top: 0;
      }
    }
  }
  &__right{
    box-sizing: border-box;
    width: 166px;
    flex-shrink: 0;
    margin-left: 40px;
    display: flex;
    justify-content: flex-end;
    @include mMax{
      width: 100%;
      justify-content: center;
      margin-top: 23px;
      padding-top: 24px;
      border-top: 1px solid #DCDDEC;
      margin-left: 0;
    }
    &.on-desktop{
      @include mMax{
        display: none;
      }
    }
  }

  &__icon{
    width: 33px;
    flex-shrink: 0;
    margin-right: 16px;
    @include mMax{
      width: 27px;
      margin-right: 8px;
      &--no{
        display: none;
      }
    }
    img{
      width: 100%;
    }
  }
  &__info{
    font-size: 18px;
    line-height: 1.3;
    margin-top: 5px;
    @include mMax{
      margin-top: 3px;
      font-size: 16px;
      line-height: 24px;
    }
    .title{
      color: #70719C;
      font-weight: 500;
    }
    .value{
      color: #8C56FF;
    }
  }
  &__status{
    > p + p{
      margin-top: 4px;
      @include mMax{
        margin-top: 6px;
      }
    }
  }
  &__info{
    &--title{
      font-size: 22px;
      line-height: 33px;
    }
  }

  &__code-block{
    margin-top: 14px;
    @include mMax{
      margin-top: 24px;
      &--full{
        margin-left: -35px;
      }
    }
  }
}


.table{
  max-width: 627px;
  width: 100%;
  color: #FFFFFF;

  &__row{
    padding: 7px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    @include mMax{
      padding: 0;
      border: none;
      display: block;
      +.table__row{
        margin-top: 16px;
      }
    }
    &:last-child{
      border: none;
    }
  }
  &__cell{
    &--title{
      font-size: 16px;
      line-height: 135%;
      color: #AAABC9;
      width: 43%;
      @include mMax{
        width: 100%;
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 2px;
      }
    }
    &--content{
      font-weight: 500;
      font-size: 16px;
      line-height: 135%;
      word-break: break-all;
      width: 57%;
      @include mMax{
        width: 100%;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  +*{
    margin-top: 40px;
  }
}

.qr-code{
  width: 70px;
  max-width: 100%;
}